/* Image.css */
.image-container {
  display: flex; 
  margin-top: 60px;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap; 
  max-width: 100%;
  position: relative;
  padding-bottom: 0;
}

.left-image {
  max-width: 30%; 
  max-height: 35vh; 
  width: auto;
  height: auto; 
  display: block;
  margin-left: -150px;
  clip-path: inset(0px 0px 32px 0px);
}

.right-image {
  max-width: 30%; 
  height: auto; 
  display: block;
  object-fit: cover; 
  clip-path: inset(0px 0px 32px 0px);
  margin-right: -150px; 
}

.descr {
  flex: 1; 
  text-align: center; 
  padding: 10px;
}

