@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Metrophobic&display=swap');
.descr-style{
    font-family: 'Inconsolata', monospace;
    color:#2A4704;
    font-size: 180%;
    display: flex;
    justify-content: center;
    border:2px solid red;
    width: 20%;
    align-items: center;
}